@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    /* background-color: rgba(137, 135, 161, 1); */
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

#orange-text{
    color: rgb(233, 90, 8);
}

.orange-btn{
  background-color: rgb(233, 90, 8);
  color: white;
  padding: 20px 80px;
  border: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f3f6fc;
}

/* nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;          
  margin: 25px auto 0 auto; 
  padding: 0 20px;          
}

.nav_left img {
  height: 85px;           
}

.nav_right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;               
}

.nav_right ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.nav_font{
    font-weight: 700;
    font-size: 1rem;
}

.nav_sec_font{
    font-weight: 400;
    font-size: 1rem;
}

.font_col{
  color: rgba(0, 0, 0, 0.5);
}
/* banner styles */
.banner {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 80%;
  margin: 250px auto 0 auto; 
  gap: 40px; 
}

.banner_left {
  flex: 1;
}

.banner_left h3{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0;
}

.banner_left p{
   font-size: 1.375rem;
   margin-top: 15px;
}

.banner_right img {
  width: 100%;
  max-width: 600px; 
  height: auto;
}

/* product styles */
.products{
  text-align: center;
  max-width: 80%;
  margin-top: 120px;
}

.products_upper{
  max-width: 80%;
  margin: 0 auto 60px auto; 
}

.pro_upp_title{
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 16px;
}

.pro_upp_des {
  font-size: 1.375rem;
  line-height: 1.6;
}

.product_cards{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  max-width: 80%;
  gap: 30px 20px;
  margin: 0 auto; 
}

/* badge styles */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
  margin: 200px auto 0 auto;
  max-width: 80%;
}

.badge_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 80%;
  flex-wrap: nowrap;
  margin: 0 auto;
}

.badge_left {
  position: relative;
  /* width: 520px;
  height: 560px; */
}

.flower_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trusted_badge {
  position: absolute;
  top: -110px;
  right: -100px;
  width: 220px;
  height: 220px;
  animation: spin 20s linear infinite;
  z-index: 2;
}

.badge_right {
  flex: 1;
  min-width: 320px;
}

.badge_title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.badge_des {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 22px;
}

/* deals styles */
.deals {
  padding: 100px 0;
  text-align: center;
}

.deals_upper {
  max-width: 80%;
  margin: 0 auto 60px auto;
}

.deal_upp_title {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: -10px;
}

.deal_upp_des {
  font-size: 1.1rem;
  line-height: 1.7;
}

.deals_down {
  display: flex;
  gap: 40px;
  max-width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.deals_down_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.deals_down_right {
  flex: 2;
}

.deals_down_left h4{
  font-weight: 700;
  font-size: 1.25rem;
}

.deals_down_left p{
  font-weight: 400;
  font-size: 1rem;
}

.deals_down_right h4{
  font-weight: 700;
  font-size: 2.5rem;
}

.deals_down_right p{
  font-weight: 400;
  font-size: 1.75rem;
}

.deals_down img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  height: auto;
}

.deals_down_left img,
.deals_down_right img {
  position: relative;
}

.deal_card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.deal_card img {
  opacity: 0.9; 
  width: 100%; 
  height: 100%;
  display: block;
  border-radius: 12px;
}

.deal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  color: white; 
  background-color: rgba(0, 0, 0, 0.4);
}

.deal_overlay * {
  background-color: transparent;
}

.deal_overlay p {
  margin-top: 0;
  text-decoration: underline;
  cursor: pointer;
}

/* contact styles */
.contact_section {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
}

.contact_image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  display: block;
}

.contact_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: rgba(202, 183, 183, 0.185); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
  text-align: center;
}

.contact_title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.85);
  background: transparent;
}

.contact_form {
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.contact_form input[type="email"] {
  padding: 12px 16px;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 750px;
}

/* footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 40px auto;
  gap: 60px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.footer_left,
.footer_middle,
.footer_right {
  flex: 1;
  min-width: 260px;
}

.footer_logo {
  width: 160px;
  margin-bottom: 16px;
}

.footer_left p {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 300px;
}

.footer_middle {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex: 2;
  flex-wrap: wrap;
}

.footer_column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_column ul li {
  margin-bottom: 14px;
}

.footer_column ul li a {
  text-decoration: none;
  font-size: 0.95rem;
}


.footer_right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social_icons {
  display: flex;
  gap: 16px;
}

.social_icons a img {
  width: 32px;
  height: 32px;

}

/* iPhone 14 and 15 Pro Responsive Fixes */
@media screen and (max-width: 576px) {
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  min-height: 70px; 
  overflow-x: hidden; 
}

.nav_left img {
  height: 60px; 
}

.nav_right ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav_right ul li {
  display: none; 
}

.div_right_show {
  display: block !important;
}

.div_right_show li {
  display: list-item; 
}

/* BANNER: Image first */
.banner {
  flex-direction: column-reverse;
  margin-top: 120px;
  text-align: center;
}

.banner_left h3 {
  font-size: 2rem;
}

.banner_left p {
  font-size: 1rem;
}

.banner_right img {
  width: 100%;
  height: auto;
  display: block;
}

/* PRODUCT SECTION: product_upper first, 2 columns only */
.product_cards {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 10px;
  max-width: 100%;
  padding: 0 10px;
}

.pro_card img {
  max-width: 100%;
  width: 100px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.orange-btn {
  font-size: 0.75rem;
  padding: 6px 12px;
}

.pro_card {
  padding: 10px;
}

.card_title {
  font-size: 1rem;
  margin: 10px 0 4px;
}

.card_value {
  font-size: 0.9rem;
  margin-bottom: 6px;
}

.pro_upp_title {
  font-size: 2rem;
}

.pro_upp_des {
  font-size: 1rem;
}

.product_cards .pro_card:nth-of-type(n+7) {
  display: none;
}

  /* BADGE SECTION: image first without badge icon */
.badge {
  flex-direction: column;
  padding: 60px 20px;
  margin: 40px auto 0 auto;
}

.badge_left {
  order: 1;
  width: 100%;
  height: auto;
}

.flower_img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.trusted_badge {
  display: none;
}

.badge_right {
  order: 2;
  margin-top: 0;
}

.badge_title {
  font-size: 1.8rem;
  text-align: center;
}

.badge_des {
  font-size: 0.95rem;
  text-align: start;
  margin-bottom: 12px;
}

  /* DEALS SECTION: upper then down */
.deals {
  padding: 60px 20px;
}

.deals_down {
  flex-direction: column;
}

.deals_down_right h4 {
  font-size: 1.6rem;
}

.deals_down_right p {
  font-size: 1.1rem;
}

  /* CONTACT SECTION */
.contact_image {
  height: 40vh; /* Reduce height */
  object-fit: cover;
}

.contact_overlay {
  height: 40vh;
  padding: 20px;
 }

.contact_title {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.contact_form {
  flex-wrap: nowrap; /* Keep input and button in one line */
  width: 80%;
  max-width: 100%;
}

.contact_form input[type="email"] {
  width: 80%;
  font-size: 0.9rem;
  padding: 10px;
}

.contact_form .orange-btn {
  width: 30%;
  font-size: 0.85rem;
  padding: 10px;
  white-space: nowrap;
}

  /* FOOTER SECTION */
.footer {
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 20px;
  gap: 30px;
}

.footer_left,
.footer_middle,
.footer_right {
  width: 100%;
}

.footer_middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer_right {
  display: flex;
  /* justify-content: flex-start; */
  align-items: flex-start;
  gap: 10px;
  flex-wrap: nowrap;
}

.footer_right img {
  width: 24px;
  height: 24px;
}

}