@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    /* background-color: rgba(137, 135, 161, 1); */
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

#orange-text{
    color: rgb(233, 90, 8);
}

.orange-btn{
  background-color: rgb(233, 90, 8);
  color: white;
  padding: 20px 80px;
  border: none;
}

* {
  box-sizing: border-box;
  background-color: #f3f6fc
}


/* nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;          
  margin: 25px auto 0 auto; 
  padding: 0 20px;          
}

.nav_left img {
  height: 85px;           
}

.nav_right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;               
}

.nav_right ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.nav_font{
    font-weight: 700;
    font-size: 1rem;
}

.nav_sec_font{
    font-weight: 400;
    font-size: 1rem;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  max-width: 80%;
  margin: 250px auto 0 auto; 
  gap: 40px; 
}

.banner_left {
  flex: 1;
}

.banner_left h3{
    font-weight: 700px;
    font-size: 4rem;
    margin-bottom: 0;
}

.banner_left p{
   font-size: 1.375rem;
   margin-top: 15px;
}

.banner_right img {
  width: 100%;
  max-width: 600px; 
  height: auto;
}

/* product styles */
.products{
  text-align: center;
  max-width: 80%;
  margin-top: 120px;
}

.products_upper{
  max-width: 80%;
  margin: 0 auto 60px auto; 
}

.pro_upp_title{
  font-weight: 700;
  font-size: 3.125rem;
  margin-bottom: 16px;
}

.pro_upp_des {
  font-size: 1.375rem;
  line-height: 1.6;
}

.product_cards{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  max-width: 80%;
  gap: 30px 20px;
  margin: 0 auto; 
}

/* badge styles */
.badge {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 80px 0;
  gap: 90px;
  flex-wrap: wrap; 
  max-width: 80%;  
  margin: 0 auto; 
}

.badge_left {
  background: url('../assets/flower-store.png');
  width: 420px;
  height: 470px;
  position: relative;
  border-radius: 8px;
  overflow: visible;
  margin-top: 80px;
}

/* Badge Icon */
.badge_left::before {
  content: "";
  background: url('../assets/trusted-badge.png') no-repeat center center/contain;
  width: 280px;
  height: 280px;
  position: absolute;
  top: -150px;
  right: -110px;
  z-index: 2;
}

.badge_title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.badge_right{
  margin-top: 80px;
}

.badge_des {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 12px;
}

/* deals styles */
.deals {
  padding: 100px 0;
  text-align: center;
}

.deals_upper {
  max-width: 80%;
  margin: 0 auto 60px auto;
}

.deal_upp_title {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: -10px;
}

.deal_upp_des {
  font-size: 1.1rem;
  line-height: 1.7;
}

.deals_down {
  display: flex;
  gap: 40px;
  max-width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.deals_down_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.deals_down_right {
  flex: 2;
}

.deals_down_left h4{
  font-weight: 700;
  font-size: 1.25rem;
}

.deals_down_left p{
  font-weight: 400;
  font-size: 1rem;
}

.deals_down_right h4{
  font-weight: 700;
  font-size: 2.5rem;
}

.deals_down_right p{
  font-weight: 400;
  font-size: 1.75rem;
}

.deals_down img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  height: auto;
}

.deals_down_left img,
.deals_down_right img {
  position: relative;
}

.deal_card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.deal_card img {
  opacity: 0.9; 
  width: 100%; 
  height: 100%;
  display: block;
  border-radius: 12px;
}

.deal_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  color: white; 
  background-color: rgba(0, 0, 0, 0.4);
}

.deal_overlay * {
  background-color: transparent;
}

.deal_overlay p {
  margin-top: 0;
  text-decoration: underline;
  cursor: pointer;
}

/* contact styles */
.contact_section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.contact_image {
  width: 100%;
  height: 60%;
  object-fit: cover;
  display: block;
}

.contact_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: rgba(202, 183, 183, 0.185); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 40px;
  text-align: center;
}

.contact_title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.85);
  background: transparent;
}

.contact_form {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact_form input[type="email"] {
  padding: 12px 16px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  outline: none;
  width: 750px;
}